@import 'susy';
$susy: ( columns: 24, gutters: 0, );
@include global-box-sizing(border-box);
body {
    font-family: 'Lato', sans-serif;
}
$large-screen-break: 1500px;
$twelve-fret-break: 1200px;
$vert-break: 750px;
h1 {
  margin-left: 2rem;
}
.container {
    width: 85%;
    margin: 0 auto;
    @media (max-width: 1275px) {
        width: 95%;
    }
}
.neck-container {
    height: 225px;
    width: 100%;
    margin: 0 auto;
}
.strings {
    @include span(0.75 of 24);
    @include push(0.5 of 24);
    height: 175px;
    position: relative;
    @media (max-width: $twelve-fret-break) {
         @include span(1 of 24)
    }
}
.tuning {
    @include span(0.75 of 24);
    height: 175px;
    position: relative;
    @media (max-width: $twelve-fret-break) {
         @include span(1 of 24)
    }
}
.tuning-note-marker {
    position: absolute;
    width: 23px;
    height: 23px;
    font-size: 18px;
    padding: 2px;
    color: #262626;
    box-sizing: content-box;
    @media (max-width: $twelve-fret-break) {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
}
.tuning-note-marker span {
    display: table-cell;
    vertical-align: middle;
    height: 23px;
    width: 23px;
    text-align: center;
    @media (max-width: $twelve-fret-break) {
        width: 20px;
        height: 20px;
    }
}
.nut-position {
    @include span(1 of 24);
    @include push(2 of 24);
    height: 25px;
    text-align: center;
    font-size: 12px;
    @media (max-width: $twelve-fret-break) {
         @include push(2.5 of 24);
    }
    @media (min-width: 1500px) {
        font-size: 14px;
    }
}
.position-numbers {
    @include span(20.5 of 24 last);
    @include post(0.5 of 24);
    height: 25px;
    text-align: center;
    font-size: 12px;
    @media (max-width: $twelve-fret-break) {
         @include span(20.5 of 24 last);
    }
    @media (min-width: 1500px) {
        font-size: 14px;
    }
}
.nut {
    @include span(1 of 24);
    height: 175px;
    border: 1px solid #999999;
    position: relative;
    background: url('../images/fretboard-strings.svg') #fff repeat-x;
}
.fretboard-container {
    @include span(20.5 of 24 last);
    @include post(0.5 of 24);
    @media (max-width: $twelve-fret-break) {
         @include span(20.5 of 24 last);
    }
}
/* ----------- FRETBOARD SPACING ----------- */
.one {
    @include span(7.483%);
}
.two {
    @include span(7.063%);
}
.three {
    @include span(6.667%);
}
.four {
    @include span(6.293%);
}
.five {
    @include span(5.940%);
}
.six {
    @include span(5.606%);
}
.seven {
    @include span(5.292%);
}
.eight {
    @include span(4.995%);
}
.nine {
    @include span(4.714%);
}
.ten {
    @include span(4.450%);
}
.eleven {
    @include span(4.200%);
}
.twelve {
    @include span(3.964%);
}
.thirteen {
    @include span(3.742%);
}
.fourteen {
    @include span(3.532%);
}
.fifteen {
    @include span(3.333%);
}
.sixteen {
    @include span(3.146%);
}
.seventeen {
    @include span(2.970%);
}
.eighteen {
    @include span(2.803%);
}
.nineteen {
    @include span(2.646%);
}
.twenty {
    @include span(2.497%);
}
.twenty-one {
    @include span(2.357%);
}
.twenty-two {
    @include span(2.225%);
}
.twenty-three {
    @include span(2.100%);
}
.twenty-four {
    @include span(1.982% last);
}
@media (min-width: $vert-break) and (max-width: $twelve-fret-break) {
    .one {
        @include span(11.225%);
    }
    .two {
        @include span(10.595%);
    }
    .three {
        @include span(10.000%);
    }
    .four {
        @include span(9.439%);
    }
    .five {
        @include span(8.909%);
    }
    .six {
        @include span(8.409%);
    }
    .seven {
        @include span(7.937%);
    }
    .eight {
        @include span(7.492%);
    }
    .nine {
        @include span(7.071%);
    }
    .ten {
        @include span(6.675%);
    }
    .eleven {
        @include span(6.300%);
    }
    .twelve {
        @include span(5.946% last);
    }
    .eighteen,
    .fifteen,
    .fourteen,
    .nineteen,
    .seventeen,
    .sixteen,
    .thirteen,
    .twenty,
    .twenty-four,
    .twenty-one,
    .twenty-three,
    .twenty-two {
        display: none;
    }
}
/* ----------- NOTE POSITION STYLES ----------- */
.fret-0 {
    left: 0;
}
.fret-1 {
    left: 7.483%;
}
.fret-2 {
    left: 14.547%;
}
.fret-3 {
    left: 21.214%;
}
.fret-4 {
    left: 27.507%;
}
.fret-5 {
    left: 33.446%;
}
.fret-6 {
    left: 39.052%;
}
.fret-7 {
    left: 44.344%;
}
.fret-8 {
    left: 49.338%;
}
.fret-9 {
    left: 54.053%;
}
.fret-10 {
    left: 58.502%;
}
.fret-11 {
    left: 62.702%;
}
.fret-12 {
    left: 66.666%;
}
.fret-13 {
    left: 70.408%;
}
.fret-14 {
    left: 73.940%;
}
.fret-15 {
    left: 77.273%;
}
.fret-16 {
    left: 80.420%;
}
.fret-17 {
    left: 83.390%;
}
.fret-18 {
    left: 86.193%;
}
.fret-19 {
    left: 88.838%;
}
.fret-20 {
    left: 91.336%;
}
.fret-21 {
    left: 93.693%;
}
.fret-22 {
    left: 95.918%;
}
.fret-23 {
    left: 98.018%;
}
.fret-24 {
    left: 100%;
}
@media (min-width: $vert-break) and (max-width: $twelve-fret-break) {
    .fret-1 {
        left: 11.225%;
    }
    .fret-2 {
        left: 21.820%;
    }
    .fret-3 {
        left: 31.821%;
    }
    .fret-4 {
        left: 41.260%;
    }
    .fret-5 {
        left: 50.169%;
    }
    .fret-6 {
        left: 58.579%;
    }
    .fret-7 {
        left: 66.516%;
    }
    .fret-8 {
        left: 74.008%;
    }
    .fret-9 {
        left: 81.079%;
    }
    .fret-10 {
        left: 87.754%;
    }
    .fret-11 {
        left: 94.054%;
    }
    .fret-12 {
        left: 100%;
    }
    .fret-13,
    .fret-14,
    .fret-15,
    .fret-16,
    .fret-17,
    .fret-18,
    .fret-19,
    .fret-20,
    .fret-21,
    .fret-22,
    .fret-23,
    .fret-24 {
        display: none;
    }
}
/* ----------- STRING POSITION VERTICAL STYLES ----------- */
.string-1 {
    top: 1%;
}
.string-2 {
    top: 18%;
}
.string-3 {
    top: 35%;
}
.string-4 {
    top: 52%;
}
.string-5 {
    top: 69%;
}
.string-6 {
    top: 86%;
}
/* ----------- FRETBOARD STYLES ----------- */
.fretboard {
    position: relative;
    height: 175px;
    padding: 0;
    border-top: 1px solid #331a00;
    border-bottom: 1px solid #331a00;
    background-color: #331a00;
    background: url('../images/fretboard-strings.svg') #331a00 repeat-x;
}
.fretboard .fret {
    border-left: 2px solid #D0D0D0;
    border-right: 1px solid #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    @media (min-width: $vert-break) {
    height: 175px;
  }
}
.position-marker {
    background-color: #E6E2BE;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.double-one {
    top: 32%;
}
.double-two {
    top: 59%;
}
.fretboard > .first {
    border-left: none;
}
/* ----------- NOTE MARKER STYLES ----------- */
.note-marker {
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    background: #fff;
    border: 1px solid #595959;
    color: #000;
    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    box-sizing: content-box;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.35);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.35);
    z-index: 9999;
    @media (min-width: $twelve-fret-break) and (max-width: $large-screen-break) {
        width: 16px;
        height: 16px;
        font-size: 11px;
    }
}
.scale-root-note {
    background: #b3e6ff;
}
.note-marker span {
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    text-align: center;
    @media (min-width: $twelve-fret-break) and (max-width: $large-screen-break) {
        width: 16px;
        height: 16px;
    }
}
/* ----------- USER INPUT STYLES ----------- */
.user-input {
    @include span(12 of 12 last);
    margin: 0 auto 2.5rem;
}
input,
select {
    width: 90%;
    @media (max-width: 1000px) {
        width: 100%;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.key-select,
.scale-select,
.switch-wrapper,
.tuning-select {
    @include span(1 of 5);
    text-align: center;
    margin-top: 1rem;
    @media (max-width: 1000px) {
         @include span(4 of 12);
        @include push(4 of 12);
        margin-top: 1.75rem;
    }
    @media (max-width: $vert-break) {
         @include span(8 of 12);
        @include push(2 of 12);
        margin-top: 1.75rem;
    }
}
.submit-button {
    @include span(1 of 5 last);
    margin-top: 10px;
    @media (max-width: 1000px) {
         @include span(12 of 12);
        margin-top: 32px;
    }
    @media (max-width: $vert-break) {
         @include span(8 of 12);
        @include push(2 of 12);
    }
}
.custom-tuning-select {
    text-align: center;
    margin-top: 1rem;
}
.custom-tuning-input {
    padding: 5px;
}
.submit-button {
    text-align: center;
}
.button {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-show {
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 20px;
    padding: 15px 32px;
    @media (max-width: $vert-break) {
        width: 100%;
    }
}
// user input error styles //
.error p {
    display: none;
    background: #ffe6e6;
    border: 1px solid #ff3333;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    width: 85%;
    margin: 1rem auto;
}
