@media (max-width: 750px) {
  h1 {
    text-align: center;
    margin: 30px 0 0 0; }

  .neck-container {
    height: 1300px;
    width: 290px;
    position: relative;
    clear: both;
    margin: 0 auto;
    left: -20px; }

  .strings {
    width: 250px;
    height: 40px;
    margin: 0;
    position: absolute;
    left: 40px;
    top: 0; }

  .tuning {
    width: 250px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 40px; }

  .tuning-note-marker {
    position: absolute;
    width: auto;
    height: 23px;
    font-size: 16px;
    padding: 2px;
    color: #262626;
    box-sizing: content-box;
    margin: 0;
    top: 0; }

  .tuning-note-marker span {
    display: table-cell;
    vertical-align: middle;
    height: 23px;
    width: 23px;
    text-align: center; }

  .nut-position {
    position: absolute;
    height: 50px;
    width: 30px;
    margin: 0;
    text-align: center;
    font-size: 12px;
    top: 80px; }

  .position-numbers {
    position: absolute;
    top: 130px;
    text-align: center;
    display: inline-block;
    width: 30px; }

  .position-numbers > div {
    display: block;
    width: 100%; }

  .fret-number {
    position: relative;
    top: 50%;
    margin-top: -25%;
    font-size: 14px; }

  .nut {
    width: 250px;
    height: 50px;
    left: 40px;
    top: 80px;
    border: 1px solid #999999;
    position: absolute;
    background-color: #fff;
    background-image: none; }

  .fretboard-container {
    left: 40px;
    top: 130px;
    height: 1300px;
    position: absolute;
    width: 250px;
    display: inline-block; }

  /* ----------- FRETBOARD SPACING ----------- */
  .one {
    height: 97.279px; }

  .two {
    height: 91.819px; }

  .three {
    height: 86.671px; }

  .four {
    height: 81.809px; }

  .five {
    height: 77.22px; }

  .six {
    height: 72.878px; }

  .seven {
    height: 68.796px; }

  .eight {
    height: 64.935px; }

  .nine {
    height: 61.282px; }

  .ten {
    height: 57.85px; }

  .eleven {
    height: 54.6px; }

  .twelve {
    height: 51.532px; }

  .thirteen {
    height: 48.646px; }

  .fourteen {
    height: 45.916px; }

  .fifteen {
    height: 43.329px; }

  .sixteen {
    height: 40.898px; }

  .seventeen {
    height: 38.61px; }

  .eighteen {
    height: 36.439px; }

  .nineteen {
    height: 34.398px; }

  .twenty {
    height: 32.461px; }

  .twenty-one {
    height: 30.641px; }

  .twenty-two {
    height: 28.925px; }

  .twenty-three {
    height: 27.3px; }

  .twenty-four {
    height: 25.766px; }

  /* ----------- NOTE POSITION STYLES ----------- */
  .fret-0 {
    top: 0; }

  .fret-1 {
    top: 97.279px; }

  .fret-2 {
    top: 189.111px; }

  .fret-3 {
    top: 275.782px; }

  .fret-4 {
    top: 357.591px; }

  .fret-5 {
    top: 434.798px; }

  .fret-6 {
    top: 507.676px; }

  .fret-7 {
    top: 576.472px; }

  .fret-8 {
    top: 641.394px; }

  .fret-9 {
    top: 702.689px; }

  .fret-10 {
    top: 760.526px; }

  .fret-11 {
    top: 815.126px; }

  .fret-12 {
    top: 866.658px; }

  .fret-13 {
    top: 915.304px; }

  .fret-14 {
    top: 961.22px; }

  .fret-15 {
    top: 1004.549px; }

  .fret-16 {
    top: 1045.46px; }

  .fret-17 {
    top: 1084.07px; }

  .fret-18 {
    top: 1120.509px; }

  .fret-19 {
    top: 1154.894px; }

  .fret-20 {
    top: 1187.368px; }

  .fret-21 {
    top: 1218.009px; }

  .fret-22 {
    top: 1246.934px; }

  .fret-23 {
    top: 1274.234px; }

  .fret-24 {
    top: 1300px; }

  /* ----------- STRING POSITION VERTICAL STYLES ----------- */
  .string-6 {
    left: 1%; }

  .string-5 {
    left: 18%; }

  .string-4 {
    left: 35%; }

  .string-3 {
    left: 52%; }

  .string-2 {
    left: 69%; }

  .string-1 {
    left: 86%; }

  /* ----------- FRETBOARD STYLES ----------- */
  .fretboard {
    position: absolute;
    height: 1300px;
    width: 250px;
    padding: 0;
    border-left: 1px solid #331a00;
    border-right: 1px solid #331a00;
    background-color: #331a00;
    background-image: none; }

  .fretboard .fret {
    border-bottom: 2px solid #D0D0D0;
    border-top: 1px solid #fff;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 250px; }

  .position-marker {
    background-color: #E6E2BE;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 14px;
    width: 14px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .double-one {
    display: inline-block;
    left: 70px; }

  .double-two {
    display: inline-block;
    margin-left: 138px; }

  .fretboard > .first {
    border-top: none; }

  /* ----------- NOTE MARKER STYLES ----------- */
  .note-marker {
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    background: #fff;
    border: 1px solid #595959;
    color: #000;
    transform: translateY(-105%);
    -webkit-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    box-sizing: content-box;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.35);
    z-index: 9999; }

  .scale-root-note {
    background: #b3e6ff; }

  .note-marker span {
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    text-align: center; }

  /* ----------- USER INPUT STYLES ----------- */
  .user-input {
    position: relative; } }
