@media (max-width: 750px) {
  h1 {
    text-align: center;
    margin: 30px 0 0 0; }

  .neck-container {
    height: 1350px;
    width: 280px;
    position: relative;
    clear: both;
    margin: 0 auto;
    left: -20px; }

  .strings {
    width: 240px;
    height: 40px;
    margin: 0;
    position: absolute;
    left: 40px;
    top: 0; }

  .tuning {
    width: 240px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 40px; }

  .tuning-note-marker {
    position: absolute;
    width: auto;
    height: 23px;
    font-size: 16px;
    padding: 2px;
    color: #262626;
    box-sizing: content-box;
    margin: 0;
    top: 0; }

  .tuning-note-marker span {
    display: table-cell;
    vertical-align: middle;
    height: 23px;
    width: 23px;
    text-align: center; }

  .nut-position {
    position: absolute;
    height: 50px;
    width: 30px;
    margin: 0;
    text-align: center;
    font-size: 12px;
    top: 80px; }

  .position-numbers {
    position: absolute;
    top: 130px;
    text-align: center;
    display: inline-block;
    width: 30px; }

  .position-numbers > div {
    display: block;
    width: 100%; }

  .fret-number {
    position: relative;
    top: 50%;
    margin-top: -25%;
    font-size: 14px; }

  .nut {
    width: 240px;
    height: 50px;
    left: 40px;
    top: 80px;
    border: 1px solid #999999;
    position: absolute;
    background-color: #fff;
    background-image: none; }

  .fretboard-container {
    left: 40px;
    top: 130px;
    height: 1350px;
    position: absolute;
    width: 240px;
    display: inline-block; }

  /* ----------- FRETBOARD SPACING ----------- */
  .one {
    height: 101.0205px; }

  .two {
    height: 95.3505px; }

  .three {
    height: 90.0045px; }

  .four {
    height: 84.9555px; }

  .five {
    height: 80.19px; }

  .six {
    height: 75.681px; }

  .seven {
    height: 71.442px; }

  .eight {
    height: 67.4325px; }

  .nine {
    height: 63.639px; }

  .ten {
    height: 60.075px; }

  .eleven {
    height: 56.7px; }

  .twelve {
    height: 53.514px; }

  .thirteen {
    height: 50.517px; }

  .fourteen {
    height: 47.682px; }

  .fifteen {
    height: 44.9955px; }

  .sixteen {
    height: 42.471px; }

  .seventeen {
    height: 40.095px; }

  .eighteen {
    height: 37.8405px; }

  .nineteen {
    height: 35.721px; }

  .twenty {
    height: 33.7095px; }

  .twenty-one {
    height: 31.8195px; }

  .twenty-two {
    height: 30.0375px; }

  .twenty-three {
    height: 28.35px; }

  .twenty-four {
    height: 26.757px; }

  /* ----------- NOTE POSITION STYLES ----------- */
  .fret-0 {
    top: 0; }

  .fret-1 {
    top: 101.0205px; }

  .fret-2 {
    top: 196.3845px; }

  .fret-3 {
    top: 286.389px; }

  .fret-4 {
    top: 371.3445px; }

  .fret-5 {
    top: 451.521px; }

  .fret-6 {
    top: 527.202px; }

  .fret-7 {
    top: 598.644px; }

  .fret-8 {
    top: 666.063px; }

  .fret-9 {
    top: 729.7155px; }

  .fret-10 {
    top: 789.777px; }

  .fret-11 {
    top: 846.477px; }

  .fret-12 {
    top: 899.991px; }

  .fret-13 {
    top: 950.508px; }

  .fret-14 {
    top: 998.19px; }

  .fret-15 {
    top: 1043.1855px; }

  .fret-16 {
    top: 1085.67px; }

  .fret-17 {
    top: 1125.765px; }

  .fret-18 {
    top: 1163.6055px; }

  .fret-19 {
    top: 1199.313px; }

  .fret-20 {
    top: 1233.036px; }

  .fret-21 {
    top: 1264.8555px; }

  .fret-22 {
    top: 1294.893px; }

  .fret-23 {
    top: 1323.243px; }

  .fret-24 {
    top: 1350px; }

  /* ----------- STRING POSITION VERTICAL STYLES ----------- */
  .string-6 {
    left: 1%; }

  .string-5 {
    left: 18%; }

  .string-4 {
    left: 36%; }

  .string-3 {
    left: 54%; }

  .string-2 {
    left: 71%; }

  .string-1 {
    left: 88%; }

  /* ----------- FRETBOARD STYLES ----------- */
  .fretboard {
    position: absolute;
    height: 1350px;
    width: 240px;
    padding: 0;
    border-left: 1px solid #331a00;
    border-right: 1px solid #331a00;
    background-color: #331a00;
    background-image: none; }

  .fretboard .fret {
    border-bottom: 2px solid #D0D0D0;
    border-top: 1px solid #fff;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 240px; }

  .position-marker {
    background-color: #E6E2BE;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 16px;
    width: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

  .double-one {
    display: inline-block;
    left: 70px; }

  .double-two {
    display: inline-block;
    margin-left: 135px; }

  .fretboard > .first {
    border-top: none; }

  /* ----------- NOTE MARKER STYLES ----------- */
  .note-marker {
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    background: #fff;
    border: 1px solid #595959;
    color: #000;
    transform: translateY(-105%);
    -webkit-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    box-sizing: content-box;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.45);
    z-index: 9999; }

  .scale-root-note {
    background: #b3e6ff; }

  .note-marker span {
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    text-align: center; }

  /* ----------- USER INPUT STYLES ----------- */
  .user-input {
    position: relative; } }
